  
  <% if current_user %>
<div class="form">
<%= flash[:notice] if flash[:notice] %>
<%= flash[:alert] if flash[:alert] %>

<%= form_for @card do |f| %>
  <%= f.text_field :cc, placeholder: 'Card Number', class: 'input' %>
  <%= f.select :xmonth, (1..12), class: 'input' %>
  <%= f.select :xyear, (2015..2115) %>
  <%= f.submit  'Add Card'%>
<% end %>
</div>
<% end %>